html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/*Coustom Styles*/

body {
    font-family: 'avenir', sans-serif;
    font-weight: medium;
    font-size: 13px;
}

p {
    font-family: 'lato', sans-serif;
    font-weight: lighter;
    font-size: 14px;

}

a {
    font-family: 'avenir', sans-serif;
    text-decoration: none;
    letter-spacing: 3px;
}

h1,
h2,
h5,
h6 {
    font-family: 'lato', sans-serif;
}

.sections {
    /*position: relative;*/
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
}

.customh2 {
    text-transform: uppercase;
    padding-top: 120px;
    display: block;
    text-align: center;
    font-weight: light;
}

.noPadding {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

hr {
    border: none;
    height: 3px;
    width: 150px;
    /* Set the hr color */
    color: #FF8914;
    /* old IE */
    background-color: #FF8914;
    /* Modern Browsers */
}


/* End Coustom Styles*/


/*Navigation bar*/

#contact {
    background-color: transparent;
    border-color: #FF8914;
    margin-top: 7px;
    border-radius: 4px;
    font-family: "lato";
    font-weight: light;
    font-size: 14px;
    text-transform: uppercase;
}

#contact:hover {
    color: #FF8914;
}

.navbar-right {
    padding-top: 15px;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

#brand {
    width: 150px;
    margin-top: 8px;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FF8914;
}

.top-nav-collapse{
    background-color:#000000;
    color:  #FFFFFF;
    padding-bottom: 5px;
}

/* End Navigation bar*/


/*Header*/

/* .homeBg {
    background-image: url(../images/homeFirst.png);
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
} */


/*home*/


/* End home*/


/*Services*/

.pad80t {
    margin-top: 80px;
}

.pad50t {
    padding-top: 50px;
}

.serviceIcon {
    width: 30px;
    height: 30px;
    /*padding-left: 50px;*/
    /*padding-bottom: 30px;*/
}

.customh4 {
    color: #FF8914;
    font-family: lato;
    font-weight: regular;
    font-size: 20px;
}


/* End Services*/


/*Clients*/

.clientLogo {
    display: inline-block;
    float: center;
    width: 120px;
    height: 75px;
    padding: 15px;
}

.CimgSize {
    resize: both;
    max-width: auto;
    height: 500px;
    /*margin-bottom: 50px;*/
    /*padding-bottom: 50px;*/
}

.CimgQuote {
    max-width: 30px;
    height: 15px;
    display: block;
    float: right;
    margin-top: 10px;
    /* margin-top: -50px;*/
}

blockquote {
    border: 0px;
    font-style: lato;
    font-weight: light italic;
    font-size: 17px;
    color: #363636;
    padding-top: 100px;
    padding-right: 240px;
}

blockquote p {
    text-align: center;
}

blockquote footer {
    font-style: lato;
    font-weight: light italic;
    font-size: 20px;
}

.ExplorBtnDiv {
    margin-right: 250px;
    /*padding-top: 30px;*/
    /*margin-right: 0px;*/
}

.ExBtn {
    color: #FFFFFF;
    background-color: #EB8B2D;
    border-radius: 5px;
    outline: none;
    text-transform: capitalize;
}

.ExBtn:hover {
    background-color: #FF8914;
    border-color: #FF8914;
    color: #FFFFFF;
}


/* .wrapquote {
    position: relative;
} */


/* Certificates */

.certiSize {
    display: block-inline;
}

.center-align {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    /* Safari */
    -webkit-align-items: center;
    /* Safari 7.0+ */
    display: flex;
    align-items: center;
    display: block;
}

.c1 {
    width: 300px;
    height: 50px;
    margin-top: 50px;
    margin-left: 30px;
}

.c2 {
    width: 100px;
    height: 250px;
    margin-left: 80px;
}

.c3 {
    width: 200px;
    height: 60px;
    margin-top: 20px;
    margin-left: 100px;
}

.c4 {
    width: 200px;
    height: 80px;
    margin-left: 100px;
}

.c5 {
    width: 280px;
    height: 70px;
    margin-left: 180px;
}

.c6 {
    width: 150px;
    height: 120px;
    margin-left: 60px;
    margin-top: 10px;
}

.c7 {
    width: 200px;
    height: 60px;
    margin-left: 100px;
}


/* End Certificates */


/* Contact Us */

.contactBg {
    background-image: url(../images/honeydew.png);
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    margin-top: 170px;

}

.customh2c {
    color: #FFFFFF;
}

/*Contact Us*/

.formField{
    background-color: transparent;

}

address{
    color: #FFFFFF;
    font-family: 'avenir', sans-serif;
    font-weight: light;
    font-size: 14;
    text-align: left;
    margin-left: 180px;

}
.addH{
    text-align: left;
    margin-left: 180px;
    color: #FF8914;
}

address a, address a:visited , address a:active{
     color: #FFFFFF;
    font-family: 'avenir', sans-serif;
    font-weight: light;
    font-size: 14;
    text-align: left;
    /*margin-left: 180px;*/
    text-decoration: none;

}
address a:hover{
     color: #FFFFFF;
    font-family: 'avenir', sans-serif;
    font-weight: light;
    font-size: 14;
    text-align: left;
    /*margin-left: 180px;*/
    text-decoration: none;
    color: #FF8914;
    
}

